Forms2Teams/Flow_forms2teams.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"microsoftforms_Connection_Name":{"defaultValue":"microsoftforms","type":"String","metadata":{"description":"Name of the connection."}},"teams_Connection_Name":{"defaultValue":"teams","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","name":"[parameters('logicAppName')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_response_is_submitted_2":{"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateFormWebhook"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['microsoftforms']['connectionId']"}},"body":{"notificationUrl":"@{listCallbackUrl()}","eventType":"responseAdded","source":"ms-connector"},"path":"/formapi/api/forms/@{encodeURIComponent('nRHRWEX4PkSml5ItI_70f2tDdmliHDhBucTOGO0nZ7pUQlFXQThNQkowTFBHMVpMRks3MVlHTDdLVS4u')}/webhooks","authentication":"@parameters('$authentication')"}}},"actions":{"Apply_to_each":{"foreach":"@triggerBody()?['value']","actions":{"Get_response_details":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetFormResponseById"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['microsoftforms']['connectionId']"}},"method":"get","path":"/formapi/api/forms('@{encodeURIComponent('nRHRWEX4PkSml5ItI_70f2tDdmliHDhBucTOGO0nZ7pUQlFXQThNQkowTFBHMVpMRks3MVlHTDdLVS4u')}')/responses","queries":{"response_id":"@items('Apply_to_each')?['resourceData']?['responseId']"},"authentication":"@parameters('$authentication')"}},"Post_message":{"runAfter":{"Get_response_details":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostMessageToChannel"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['teams']['connectionId']"}},"method":"post","body":{"rootMessage":{"body":{"content":"@{body('Get_response_details')?['re3327387ba8542a2b54eed384e373bf9']}提交了\"@{body('Get_response_details')?['r22c33b0bb3504955aa8df53bd596d6e8']}\"的故障，现象：@{body('Get_response_details')?['r6bf20e81ad1444d08a61a75a53c823d0']}","contentType":1}}},"path":"/beta/groups/@{encodeURIComponent('9f86af6d-bdde-4964-b936-d414ffb54334')}/channels/@{encodeURIComponent('19:7d6e1db1c6064a85977e0976cbb291fa@thread.skype')}/chatThreads","authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}},"outputs":{}},"parameters":{"$connections":{"value":{"microsoftforms":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'microsoftforms')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('microsoftforms_Connection_Name'))]","connectionName":"[parameters('microsoftforms_Connection_Name')]"},"teams":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'teams')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('teams_Connection_Name'))]","connectionName":"[parameters('teams_Connection_Name')]"}}}},"runtimeConfiguration":{"collections":{"maximumItemCount":5000},"performanceProfile":{"throttles":{"mode":"Low"}}}},"dependsOn":["[resourceId('Microsoft.Web/connections', parameters('microsoftforms_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('teams_Connection_Name'))]"]},{"type":"Microsoft.Web/connections","name":"[parameters('microsoftforms_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'microsoftforms')]"},"displayName":"[parameters('microsoftforms_Connection_Name')]"}},{"type":"Microsoft.Web/connections","name":"[parameters('teams_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'teams')]"},"displayName":"[parameters('teams_Connection_Name')]"}}]}