Outlook2Teams/Flow_Outlook2Teams.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"luis_Connection_Name":{"defaultValue":"luis","type":"String","metadata":{"description":"Name of the connection."}},"teams_Connection_Name":{"defaultValue":"teams","type":"String","metadata":{"description":"Name of the connection."}},"office365_Connection_Name":{"defaultValue":"office365","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","name":"[parameters('logicAppName')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_email_arrives":{"recurrence":{"interval":5,"frequency":"Minute"},"splitOn":"@triggerBody()?['value']","metadata":{"flowSystemMetadata":{"swaggerOperationId":"OnNewEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365']['connectionId']"}},"method":"get","path":"/Mail/OnNewEmail","queries":{"folderPath":"Inbox","importance":"Any","fetchOnlyWithAttachment":false,"includeAttachments":false},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_prediction":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetPredictions"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['luis']['connectionId']"}},"method":"get","path":"/luis/v2.0/apps/@{encodeURIComponent('38e91906-a1e0-4c34-ad2c-1c9b288f4ce1')}/","queries":{"q":"@triggerBody()?['Subject']","verbose":true,"desiredIntent":"家电报修"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@body('Get_prediction')?['entities']","actions":{"Condition":{"actions":{"Post_message":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostMessageToChannel"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['teams']['connectionId']"}},"method":"post","body":{"rootMessage":{"body":{"content":"客户  @{triggerBody()?['From']}报修 @{items('Apply_to_each')?['entity']}","contentType":1}}},"path":"/beta/groups/@{encodeURIComponent('9f86af6d-bdde-4964-b936-d414ffb54334')}/channels/@{encodeURIComponent('19:7d6e1db1c6064a85977e0976cbb291fa@thread.skype')}/chatThreads","authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":"@equals(items('Apply_to_each')?['type'], '电器大类')","type":"If"}},"runAfter":{"Get_prediction":["Succeeded"]},"type":"Foreach"}},"outputs":{}},"parameters":{"$connections":{"value":{"luis":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'luis')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('luis_Connection_Name'))]","connectionName":"[parameters('luis_Connection_Name')]"},"teams":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'teams')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('teams_Connection_Name'))]","connectionName":"[parameters('teams_Connection_Name')]"},"office365":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('office365_Connection_Name'))]","connectionName":"[parameters('office365_Connection_Name')]"}}}},"runtimeConfiguration":{"collections":{"maximumItemCount":5000},"performanceProfile":{"throttles":{"mode":"Low"}}}},"dependsOn":["[resourceId('Microsoft.Web/connections', parameters('luis_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('teams_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('office365_Connection_Name'))]"]},{"type":"Microsoft.Web/connections","name":"[parameters('luis_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'luis')]"},"displayName":"[parameters('luis_Connection_Name')]"}},{"type":"Microsoft.Web/connections","name":"[parameters('teams_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'teams')]"},"displayName":"[parameters('teams_Connection_Name')]"}},{"type":"Microsoft.Web/connections","name":"[parameters('office365_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]"},"displayName":"[parameters('office365_Connection_Name')]"}}]}